.body {
    background-color: beige;
}

.header-title{
  font-family: "Sixtyfour", sans-serif; 
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

header {
    display: flex;
    background-color: beige;
}
nav{
    display: flex;
    background-color: #f0ffc4;
}
section{
    display: flex;
    background-color:#575757;
}
div{
    color: rgb(247, 250, 250);
}
footer{
    color: rgb(0, 0, 0);
    background-color:#f0ffc4 ;
}
.div1{
    padding: 10px 31px ;
}
.div2{
    height: 200;
    width: 120;
}
.p1{
    padding: 0 0 0 0;
}
.bigdiv{
    display: flex;
    margin: 0px 24px;
 }

 /* css nav */

 .header-title{
    margin:10px 707px ;
    
 }
 .nav-title{
    margin: 36px 7px 17px 28px ;
    font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
 }
 .search-form{
   margin: 28px 102px 0px 135px;
;

 }
.page-home{
    margin: 22px 50px 0px 0px;
    padding: 11px 0 0 0;
    text-decoration: none;
    color: white;
    background: #635a5a;
    width: 100px;
    height: 25px;
    text-align: center;
}
.nav-img{
   margin:8px 0px 0px 0px ;
}
.butten-search{
    background-color:#f0ffc4;
    
    background: #5b5b5b;
    border: 2 solid;
    color: white;
    width: 60px;
    height: 33px;
}

.bar-search{
    background-color:#f0ffc4;
    width: 220px;
    height: 33px;
}
.d{
    
    background-color: #635a5a;
    width: 343px;
    text-align: center;
    padding: 23px;
    word-spacing: 21;
    margin: 10px;
}
.text-page-nav{
text-decoration: none;
    text-transform: capitalize;
    color: white;}

.find-book{
text-decoration: none;
color: white;
background-color: #5b5b5b;
padding: 5px;
height: 18px;
margin: 30px 0px 0px 7px;
}

/* aside */
.aside{ 
    background-color: #f0ffc459;  
    margin:-39% 0% 7% 79%;
    border: 7px solid #525151;
}
.title-aside{
    color: white;
    margin: 6% 0% 6% 22%;
}
.page1-aside{
    color: rgb(254, 254, 254);
    margin: 6% 0% 6% 22%;
    text-decoration: none;
}
.div-aside{
    display: flex;
    flex-direction: column;
}


/*footer*/
.like-social{
text-decoration: none;
color: blue;
}

.footer-title{
    font-family: "Sixtyfour", sans-serif; 
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}




.download{
    background-color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 2px
}

.results-box {
    display: none;
    background: white;
    border: 1px solid #ccc;
    position: absolute;
    width: 200px;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 5px;
    margin-top: 5px;
    z-index: 1000;
    display: block;
    margin: 0 0px 0 60px;
}

.result-item {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    color: black;
}

.result-item:hover {
    background: #f2f2f2;
}
